# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.11
default_stages: [pre-commit, pre-push]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-json
    - id: check-toml
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: detect-aws-credentials
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: trailing-whitespace
      exclude_types:
        - javascript
        - markdown
-   repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-noqa
      args:
      - --max-line-length=120
      - --max-complexity=18
-   repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
    - id: black
      language_version: python3.11
      args:
        - --line-length=120
-   repo: https://github.com/PyCQA/bandit
    rev: '1.7.5'
    hooks:
    - id: bandit
-   repo: https://github.com/PyCQA/isort
    rev: '5.12.0'
    hooks:
      - id: isort
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.7.0'
    hooks:
      - id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
        additional_dependencies:
          - tokenize-rt==3.2.0
          - types-PyYAML
# Comment this until https://github.com/dosisod/refurb/issues/305 resolved.
# -   repo: https://github.com/dosisod/refurb
#     rev: v1.22.2
#     hooks:
#       - id: refurb
